!
! Cisco Fusion Router Configuration
! Generated: {{ timestamp }}
! Hostname: {{ hostname }}
!
version 17.12
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname {{ hostname }}
!
{% if vrf_definitions %}
{%- for vrf in vrf_definitions %}
vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
 !
 address-family ipv4
{%- if vrf.rt_export_enabled %}
  route-target export {{ vrf.rt_export_value }}
{%- endif %}
{%- if vrf.rt_import_enabled %}
  route-target import {{ vrf.rt_import_value }}
{%- endif %}
 exit-address-family
!
{%- endfor %}
{% endif %}
!
! Loopback interface for BGP router ID and iBGP peering
interface Loopback0
 description BGP Router ID and iBGP peering endpoint
 ip address {{ router_id }} 255.255.255.255
!
{% if interface_mode == 'svi' %}
{# VLAN Definitions for SVI mode #}
{%- for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{%- endfor %}
{# Physical Interface Trunk Configuration #}
{%- for physical in physical_interfaces %}
interface {{ physical.name }}
 description {{ physical.description }}
 switchport mode trunk
 switchport trunk allowed vlan {{ physical.allowed_vlans }}
 no shutdown
!
{%- endfor %}
{% endif %}
{# Interface Configurations #}
{% for interface in interfaces %}
{%- if interface.type == 'routed' %}
interface {{ interface.name }}
 description {{ interface.description }}
{%- if interface.vrf %}
 vrf forwarding {{ interface.vrf }}
{%- endif %}
 ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
 no ip redirects
 no ip proxy-arp
 ip route-cache same-interface
{%- if interface.bfd_enabled %}
 bfd interval {{ interface.bfd_interval }} min_rx {{ interface.bfd_min_rx }} multiplier {{ interface.bfd_multiplier }}
{%- endif %}
 no shutdown
!
{%- elif interface.type == 'svi' %}
interface Vlan{{ interface.vlan_id }}
 description {{ interface.description }}
{%- if interface.vrf %}
 vrf forwarding {{ interface.vrf }}
{%- endif %}
 ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
 no ip redirects
 no ip proxy-arp
 ip route-cache same-interface
{%- if interface.bfd_enabled %}
 bfd interval {{ interface.bfd_interval }} min_rx {{ interface.bfd_min_rx }} multiplier {{ interface.bfd_multiplier }}
{%- endif %}
 no shutdown
!
{%- elif interface.type == 'subinterface' %}
interface {{ interface.parent_interface }}.{{ interface.subif_id }}
 description {{ interface.description }}
 encapsulation {{ interface.encapsulation }}
{%- if interface.vrf %}
 vrf forwarding {{ interface.vrf }}
{%- endif %}
 ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
{%- if interface.bfd_enabled %}
 bfd interval {{ interface.bfd_interval }} min_rx {{ interface.bfd_min_rx }} multiplier {{ interface.bfd_multiplier }}
{%- endif %}
!
{%- endif %}
{% endfor %}
!
! BGP Configuration
router bgp {{ as_number }}
 bgp router-id {{ router_id }}
 bgp log-neighbor-changes
 bgp graceful-restart
 no bgp default ipv4-unicast
{%- if bgp_neighbors_default %}
{%- for neighbor in bgp_neighbors_default %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} description Border Node - {{ neighbor.source_interface }}
 neighbor {{ neighbor.ip }} update-source {{ neighbor.source_interface }}
 neighbor {{ neighbor.ip }} fall-over bfd
{%- endfor %}
{%- endif %}
{%- if ibgp_config and ibgp_config.enabled %}
 !
 ! iBGP peer configuration
 neighbor {{ ibgp_config.peer_ip }} remote-as {{ as_number }}
 neighbor {{ ibgp_config.peer_ip }} description iBGP peer - {{ ibgp_config.peer_hostname }}
 neighbor {{ ibgp_config.peer_ip }} update-source {{ ibgp_config.update_source }}
 neighbor {{ ibgp_config.peer_ip }} fall-over bfd
{%- endif %}
 !
 address-family ipv4
{%- if bgp_neighbors_default %}
{%- for neighbor in bgp_neighbors_default %}
  neighbor {{ neighbor.ip }} activate
  neighbor {{ neighbor.ip }} send-community both
{%- if neighbor.next_hop_self %}
  neighbor {{ neighbor.ip }} next-hop-self
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if ibgp_config and ibgp_config.enabled %}
  !
  ! iBGP peer activation
  neighbor {{ ibgp_config.peer_ip }} activate
  neighbor {{ ibgp_config.peer_ip }} send-community both
{%- endif %}
 exit-address-family
{%- if bgp_neighbors_vrf %}
{%- for vrf_name, neighbors in bgp_neighbors_vrf.items() %}
 !
 address-family ipv4 vrf {{ vrf_name }}
{%- for neighbor in neighbors %}
  neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
  neighbor {{ neighbor.ip }} description Border Node - {{ neighbor.source_interface }}
  neighbor {{ neighbor.ip }} update-source {{ neighbor.source_interface }}
  neighbor {{ neighbor.ip }} fall-over bfd
  neighbor {{ neighbor.ip }} activate
  neighbor {{ neighbor.ip }} send-community both
{%- if neighbor.next_hop_self %}
  neighbor {{ neighbor.ip }} next-hop-self
{%- endif %}
{%- endfor %}
{%- if ibgp_config and ibgp_config.enabled %}
  !
  ! iBGP peer in VRF {{ vrf_name }}
  neighbor {{ ibgp_config.peer_ip }} remote-as {{ as_number }}
  neighbor {{ ibgp_config.peer_ip }} description iBGP peer - {{ ibgp_config.peer_hostname }}
  neighbor {{ ibgp_config.peer_ip }} activate
  neighbor {{ ibgp_config.peer_ip }} send-community both
{%- endif %}
 exit-address-family
{%- endfor %}
{%- endif %}
!
! BFD Configuration
bfd-template single-hop FABRIC_BFD
 interval min-tx 100 min-rx 100 multiplier 3
!
! Management and Security
ip domain-lookup
ip domain-name example.com
ip ssh version 2
ip scp server enable
!
! Logging
logging buffered 51200
logging console informational
!
! NTP Configuration (update with your NTP servers)
! ntp server <ntp-server-ip>
!
! SNMP Configuration (update with your SNMP servers)
! snmp-server community <community-string> RO
!
line con 0
 exec-timeout 0 0
 logging synchronous
line vty 0 4
 exec-timeout 30 0
 logging synchronous
 transport input ssh
line vty 5 15
 exec-timeout 30 0
 logging synchronous
 transport input ssh
!
end
